/*@font-face{
	font-family:'BMW';
	src:url('../fonts/bmwbob.eot');
	src:url('../fonts/bmwbob.eot@#iefix') format('embedded-opentype'),
	url('../fonts/bmwbob.woff') format('woff'),
	url('../fonts/bmwbob.ttf') format('truetype');
	font-style:normal;
	font-weight:700;
}
@font-face{
	font-family:'BMW';
	src:url('../fonts/bmwri.eot');
	src:url('../fonts/bmwri.eot@#iefix') format('embedded-opentype'),
	url('../fonts/bmwri.woff') format('woff'),
	url('../fonts/bmwri.ttf') format('truetype');
	font-style:normal;
	font-weight:400;
}*/

@font-face{
	font-family:'BMW';
	src:url("../fonts/bmwtypewebbo_all.eot");
	src:url("../fonts/bmwtypewebbo_all.eot?#iefix") format("embedded-opentype"),
	url("../fonts/bmwtypewebbo_all.woff2") format("woff2"),
	url("../fonts/bmwtypewebbo_all.woff") format("woff"),
	url("../fonts/bmwtypewebbo_all.ttf") format("truetype"),
	url("../fonts/bmwtypewebbo_all.svg#svgbmwTypeWebBold") format("svg");
}