body
{
	font-family: 'BMWTypeV2';
	font-size: 16px;
	color: black;
	position:relative;
	margin: 0px;
	padding: 0px;
	font-weight: 400;
	overflow-x: hidden;
	background: url(../img/bg1.jpg) 50% 99px no-repeat;
}


.row_toggle + .row_toggle_container {display:none;}


input[type=file] {display:none;}

.uploader_container {
    height: 100%;
}

.uploader_field {cursor:pointer;display: inline-block;padding-left: 41px;height: 50px;border: 1px solid #376bea;border-radius: 100px;vertical-align: top;width: 100%;box-sizing: border-box;}
.uploader_field div {display:inline-block;}
.uploader_field:before {content:'';display:inline-block;width:0px;height:100%;vertical-align:middle;}
.uploader_field div.text_loading {display:none;}
.uploader_field div.uploader_images_count {display:none;}


.resp_table{width:100%;}
.resp_table tr td:before{display:none;}
.resp_table img{max-width:100%;}


.t_black {color:black !important;}


sup {
    display: inline-block;
    vertical-align: top;
    top: -3px;
    position: relative;
}

.p_t_0 {padding-top:0px !important;}
.m_t_0 {margin-top:0px !important;}
.m_b_0 {margin-bottom:0px !important;}
img {
    border-style: none;
    vertical-align: middle;
}
select::-ms-expand{
    display: none;
}

select::-ms-expand { display: none; }
select {
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari and Chrome */
	background: url(../img/bg_select.png) 95% 50% no-repeat;
}


.fancybox-default-skin {
}



.f_left {float:left !important;}
.f_right {float:right !important;}
.t_right{text-align:right !important;}
.t_left {text-align:left !important;}
a:hover {text-decoration:none;}

.fancybox-type-image .fancybox-close {
    right: 9px;
}

.fancybox-close {
    background: url(../img/bg_close.png) 50% 50% no-repeat !important;
    color: black;
    width: 15px !important;
    height: 15px !important;
    top: 10px !important;
    right: 10px !important;
}


.container {
    margin: 0px auto;
    padding: 0px 15px;
    max-width: 1140px;
    position: relative;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.row {position:relative;float: none;}



.ico_upload:before {content:'';background: url(../img/icons.png) -47px 0px no-repeat;width: 15px;height: 17px;position: absolute;top: 50%;margin-top: -9px;left: 20px;opacity: 0.5;}

.ico_fio:before {content:'';background: url(../img/icons.png) -24px 0px no-repeat;width: 13px;height: 15px;position: absolute;top: 50%;margin-top: -7px;left: 20px;opacity: 0.5;}
.ico_phone:before {/* content:''; */background: url(../img/icons.png) -14px 0px no-repeat;width: 7px;height: 14px;position: relative;top: 3px;display: inline-block;margin-right: 11px;}
.ico_email:before {content:'';background: url(../img/icons.png) -99px 0px no-repeat;width: 13px;height: 11px;position: absolute;top: 19px;left: 20px;}
.ico_gift:before {content:'';background: url(../img/icons.png) -42px 0px no-repeat;width: 15px;height: 13px;position: absolute;top: 18px;left: 20px;}
.ico_btn:after {content:'';background: url(../img/icons.png) -66px 0px no-repeat;width: 9px;height: 14px;position: absolute;top: 18px;right: 7px;display: inline-block;margin-left: 10px;margin-right: 10px;}

.ico_btn_double:before {content:'';background: url(../img/icons.png) -66px 0px no-repeat;width: 9px;height: 14px;position: absolute;top: 26px;right: 19px;}
.ico_btn_double:after {content:'';background: url(../img/icons.png) -66px 0px no-repeat;width: 9px;height: 14px;position: absolute;top: 0px;right: 0px;display: inline-block;margin-left: 10px;margin-right: 12px;}

.ico_select:before {content:'';background: url(../img/icons.png) -99px 0px no-repeat;width: 8px;height: 5px;position: absolute;top: 21px;right: 10px;}


.ico_metro {background:url(../img/ico_metro.jpg) 50% 50% no-repeat;width:21px;height:15px;vertical-align: top;display:inline-block;}

form .ico_phone:before {/* content:''; */background: url(../img/icons.png) -11px 0px no-repeat;width: 13px;height: 13px;position: absolute;top: 50%;left: 20px;margin-right: 11px;margin-top: -6px;opacity: 0.5;}

form .ico_price:before {content:'';background: url(../img/icons.png) -107px 0px no-repeat;width: 11px;height: 11px;position: absolute;top: 16px;left: 20px;margin-right: 11px;opacity: 0.5;}



input[type=text],
{
	color:#686868;
}

.has-danger input,
.has-danger select,
.has-danger textarea
{
	border-width:2px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #eba5a3;
}


#form_popup,#form_popup2 { display:none; }
.popup_container {width: 500px;max-width:100%;padding: 21px 29px;overflow: hidden;position: relative;box-sizing: border-box;border: 2px solid black;}
.popup_container h2
{
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
	padding-bottom: 5px;
	text-align: center;
}
.popup_container .form_comment {
    text-align: center;
    font-size: 20px;
    color: #414141;
    padding-bottom:  15px;
}
.popup_container .form_comment a {
    display: block;
    color: #414141;
    text-decoration: none;
}

.popup_container .close
{
	position:absolute;
	right:10px;top:10px;
	width:34px;
	height:34px;
	-moz-transform: rotate(45deg); /* Aey Firefox */
	-ms-transform: rotate(45deg); /* Aey IE */
	-webkit-transform: rotate(45deg); /* Aey Safari, Chrome, iOS */
	-o-transform: rotate(45deg); /* Aey Opera */
	transform: rotate(45deg);
	cursor:pointer;
}
.popup_container .close:before
{
	content:'';
	position:absolute;
	left:0px;top:16px;
	width:34px;height:1px;
	display:block;
	background-color:#a8a8a8;
}
.popup_container .close:after
{
	content:'';
	position:absolute;
	left:16px;top:0px;
	width:1px;height:34px;
	display:block;
	background-color:#a8a8a8;
}


.popup_container .form-group input[type=text] {
    color: black;
    display: block;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    text-align: left;
    /* text-transform: uppercase; */
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
}
.popup_container .form-group button {cursor: pointer;}
.popup_container .form-group button:before {display:none;}
.popup_container .form-group button:after {display:none;}


.not_agree button {
    background-color: #cccccc !important;
    cursor: auto !important;
    color: white !important;
    }

.agree_field {
    font-size: 10px;
    line-height: 100%;
    position: relative;
    display: inline-block;
    padding-left: 20px;
}
.agree_field input {
    position: absolute;
    top: -2px;
    left: 0px;
    margin: -0px;
}
.agree_field span {
    padding-left: 25px;
    display: inline-block;
}

.popup_container .form-disclamer {
    color: #b8b8b8;
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}




form {
}
form .form-group {
    margin-bottom: 7px;
    position: relative;
}

form .form-group input[type=text] {height: 50px;width: 100%;border: 1px solid #1c69d4;padding: 0px 40px;color: #979797;font-size: 14px;padding-left: 40px;box-sizing: border-box;outline: none;font-family: 'BMWTypeV2';font-weight: 300;background: #f7f7f7;}
form .form-group button {width: 100%;height: 50px;outline: none;border: none;cursor: pointer;text-transform: uppercase;font-size: 14px;font-weight: 500;font-family: 'BMWTypeV2';}
form .form-group button:hover {}


.form_title {color: black;font-size: 36px;text-transform: uppercase;padding: 0px;margin: 0px;text-align: center;padding-bottom: 47px;}
.form_title span {
    display: block;
    color: #ff0000;
    white-space: nowrap;
}

.flex {display:flex;}

.columns2 {
    display: flex;
    justify-content: space-between;
}
.columns2 .column {
    width: 49%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
}


.columns2_small {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    max-width: 100%;
    margin: 0px auto;
}
.columns2_small .column {
    width: 49%;
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
}




.btn {background: #1c69d4;color:white;/* text-transform:uppercase; */text-align:center;height: 47px;display: block;font-weight: 500;font-size: 16px;border: 1px solid #1c69d4;position: relative;}
.btn:before {content:'';width:0px;height:100%;vertical-align:middle;display:inline-block;}
.btn span {vertical-align:middle;display:inline-block;}
.btn:hover {background: #0653b6;border-color: #0653b6;}

.btn:after {content:'';background:url(../img/arrow.png) 0px 0px no-repeat;width:9px;height:13px;position:absolute;top: 50%;margin-top: -7px;right: 14px;}


header {background: #8e8e8e;/* border-bottom: 1px solid #e0e0e0; *//* border-top:  1px solid #e0e0e0; */}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 99px;
}


.logo_text {
    color: white;
    font-weight: 700;
}
.top_addr {
    color: white;
    font-weight: 700;
}

.phone_container {
    text-align: center;
}
.top_phone {display: block;font-size: 20px;font-weight: 700;color: white;text-decoration: none;}

header .popup {
    color: white;
    font-size: 14px;
}
header .popup span {}

.logo {}
.logo img {}

.title1_container {}
.title1 {
    font-size: 54px;
    font-weight: 700;
    padding-top: 33px;
    line-height: 100%;
}
.title1_comment {
    font-size: 38px;
    padding-top:  20px;
}


#form1 {text-align: center;padding-top: 71px;width: 665px;max-width: 100%;}
#form1 .form_title {
    font-size: 28px;
    text-align: left;
    font-weight: 400;
    padding-bottom: 10px;
    line-height: 100%;
    text-transform: none;
    letter-spacing: -1.4px;
}
#form1 .form_title span {text-transform: uppercase;display: inline-block;color: #1e1e1e;font-weight: 700;}

#form1 .columns {
    display: flex;
    justify-content: space-between;
}

#form1 .form_comment {
    color: #282828;
    padding-bottom:  32px;
}
#form1 .form_comment span {color:#1f3775;font-weight: 700;}
#form1 .form-group {
    width: 49%;
}
#form1 input[type=text] {}
#form1 button {}
#form1 .agree_field {
    color: black;
    text-align: left;
}
#form1 .agree_field a {
    color: black;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    max-width: 100%;
    margin: 0px auto;
    padding-top:  171px;
}
.btns a {
    width: 24.5%;
    display: inline-block;
    vertical-align: top;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin: 0px auto;
    padding-top:  80px;
    padding-bottom: 45px;
}
.contacts .column {}
.contacts .column strong {}

#map1 {height:450px;}

/*------------------------------------------------------------------------------------------------------------------------


/*IPAD PRO BEGIN*/
@media (min-width: 768px) and (max-width: 1199px){

}
/*IPAD PRO BEGIN*/

/*IPAD BEGIN*/
@media (min-width: 768px) and (max-width: 991px) {

	.top_addr {display:none;}
	.btns {
    padding-top:  117px;
}
	
}
/*IPAD END*/

/*MOBILE BEGIN*/
@media (max-width: 767px) {
	
	.fancybox-type-image {width: 100% !important;margin: 0px !important;left: 0px !important;}
	.fancybox-close {right: 9px !important;top: -21px !important;}
	.fancybox-inner {width: 100% !important;margin: 0px !important;padding: 0px !important;}
	.fancybox-wrap {margin:0px !important;width: 100% !important;left: 0px !important;top: 20px !important;}
	.fancybox-type-image .fancybox-close {top: -8px !important;}

	.simple_slider .btn_left {display:none !important;}
	.simple_slider .btn_right {display:none !important;}
	
	.popup_container {width:100%;}

	
	body {
    background-size: auto 225px;
    background-position: 100% 247px;
}

	.resp_table tr {display: block;padding-bottom: 20px;}
	.resp_table tr th {display:none;}
	.resp_table tr td {width:100%;display: block;box-sizing: border-box;padding: 5px 0px;}
	.resp_table tr td:before {display:inline-block;width: 43%;margin-right: 2%;font-weight: 700;vertical-align: top;display: none;}

	
	header {}

	header .container {
    display: block;
}


	.logo_text {
    width: 203px;
    padding-top:  12px;
}
	.top_addr {
    display: none;
}

	.phone_container {
    position: absolute;
    top: 60px;
    left: 15px;
}
	.top_phone {}

	header .popup {
    display: none;
}
	header .popup span {}

	.logo {
    position: absolute;
    top: 0px;
    right: 15px;
}
	.logo img {}

	.title1_container {}
	.title1 {
    font-size: 30px;
    padding-top:  15px;
}
	.title1_comment {
    font-size: 18px;
    padding-top:  247px;
}


	#form1 {
    padding-top: 15px;
}
	#form1 .form_title {
    font-size: 20px;
    letter-spacing: normal;
}
	#form1 .form_title span {}

	#form1 .columns {
    display: block;
}

	#form1 .form_comment {}
	#form1 .form_comment span {}
	#form1 .form-group {
    width: 100%;
}
	#form1 input[type=text] {}
	#form1 button {}
	#form1 .agree_field {}
	#form1 .agree_field a {}

	.btns {
    padding-top: 20px;
    display: block;
}
	.btns a {
    width: 100%;
    margin-bottom:  10px;
}

	.contacts {
    display: block;
    padding-top:  30px;
    padding-bottom:  30px;
    width: 100%;
}
	.contacts .column {
    padding-bottom: 5px;
}
	.contacts .column strong {}

	#map1 {
    height: 350px;
}


}
/*MOBILE END*/

/* Portrait phones and smaller */
@media (max-width: 576px)
{
	body {}
}